In [1]:
import pandas as pd
import numpy as np

In [2]:
import MySQLdb
mysql_cn= MySQLdb.connect(host='127.0.0.1', 
                port=3306,user='root', passwd='0715sql', 
                db='tianchi')

In [3]:
furture=pd.read_sql('select * from test_set;', con=mysql_cn)
#past= pd.read_sql('select * from train_set;', con=mysql_cn)

In [4]:
#past_buy=past.loc[past["buy"]==1,]
past_buy=pd.read_sql('select * from train_set where buy = 1;', con=mysql_cn)

In [5]:
#past_view=past.loc[past["buy"]==0,]
past_view=pd.read_sql('select * from train_set where buy = 0;', con=mysql_cn)

In [6]:
mysql_cn.close()

In [48]:
cluster=()
for i in range(0,n):
    cluster+=(tree.DecisionTreeClassifier(),)

In [58]:
trains=()
for i in range(0,n):
    train=past_buy.iloc[np.random.choice(len(past_buy),85,replace=False),:]
    train=train.append(past_view.iloc[np.random.choice(len(past_view),850,replace=False),:])
    trains=trains+(train,)

In [59]:
fitted=()
for i in range(0,n):
    fitted=fitted+(cluster[i].fit(trains[i].iloc[:,4:206],trains[i]["buy"]),)

In [60]:
evalu1=()
evalu2=()
for i in range(0,n):
    evalu1=evalu1+(fitted[i].predict(past_buy.iloc[:,4:206]),)
    evalu2=evalu2+(fitted[i].predict(past_view.iloc[:,4:206]),)

In [2]:
recall=evalu1[0]
mistake=evalu2[0]
for i in range(1,n):
    recall=recall+evalu1[i]
    mistake=mistake+evalu2[i]

NameError: name 'evalu1' is not defined

In [1]:
sum(mistake>n*2/3)

NameError: name 'mistake' is not defined

In [71]:
sum(recall>n*2/3)

103

In [74]:
predict=()
for i in range(0,n):
    predict=predict+(fitted[i].predict(furture.iloc[:,3:205]),)

In [76]:
final=predict[0]
for i in range(1,n):
    final=final+predict[i]

In [77]:
res=furture.loc[final>=151,["user_id","item_id"]]
res.to_csv("C:/data science/race and projects/tianchi/tianchi_mobile_recommendation_predict.csv",index=False,encoding="UTF-8")

          user_id    item_id
204     100068031  150442941
1069    100097524  388306403
1706     10011993  117413545
1805     10011993  166791892
1977     10011993  248224426
2168     10011993   35096600
2952    100135783  226776244
2964    100135783  240901487
4033    100198255  209277372
5118    100198255  371505655
5656    100198255   90761761
5836    100212013   57799007
7498    100253557  176316537
8735    100300684  295343505
9339    100442521  125212556
9347    100442521  127819102
9380    100442521  144908872
9422    100442521  169674678
9537    100442521  225667411
9557    100442521  232446323
9562    100442521  234530675
9747    100442521  333445454
9856    100442521  382824384
9866    100442521   38826745
9978    100442521   85464552
10217   100475890  321002841
10635   100498063  352768418
13301      100605  262454723
13372      100605  315272023
13955   100639219  253591922
...           ...        ...
337047  111409210   55969955
337071  111409210   67742402
337086  111409210   73555335
337093  111409210   75522886
337100  111409210   78072713
337117  111409210   85413857
339556  111501667  179675531
339753  111539434  228583777
339783  111539434  269380981
339798  111539434   28779521
339833  111539434  342780101
339836  111539434  346875603
339844  111539434  360498281
340240  111554425  235318450
340350  111558415  133752159
340389  111558415  191201912
340434  111558415   27875639
340482  111558415  351049787
340490  111558415  364188973
340706  111590335  268925186
340738  111590335  323607654
340769  111590335   45052748
341137  111609931  361346418
343516  111694210  107105238
343927  111694210  205300168
344059  111694210  240570913
344110  111694210  252146081
344427  111694210  325027735
344574  111694210  356269830
344585  111694210  358656952

[1127 rows x 2 columns]